.plans-page {
  margin: 20px;
  display: grid;
  gap: 1rem;
}

.page-title {
  font-size: 24px;
  line-height: normal;
  margin: 0 !important;
}

.plans-table {
  width: 100%;
  border-collapse: collapse;
}

.plans-table th,
.plans-table td {
  padding: 10px 20px;
  text-align: left;
  padding: 30px;
}

.plans-table th {
  background-color: #f2f2f2;
  /* font-weight: 200; */
  border-radius: 15px;
  font-size: larger;
  font-weight: bold;
}

.plans-table td {
  background-color: #ffffff;
  border-bottom: 1px outset #ccc;
}

.TitleButtonWrapper {
  display: grid;
  grid-auto-flow: column;
  place-content: space-between;
  gap: 1rem;
  align-items: center;
}

.Addbtn {
  padding: 12px;
  color: white;
  background-color: rgb(0, 81, 63);
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  border-color: black;
  border-width: 2.5px;
  border-radius: 7.5px;
}

.Addbtn:hover {
  background-color: black;
}
.Addbtn:focus,
.Addbtn:active {
  background-color: rgb(0, 81, 63);
}

.Addbtn.clicked {
  background-color: rgb(0, 81, 63);
}
