.club-list {
  margin: 20px;
}

.page-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.data-grid {
  list-style-type: none;
  padding: 0;
}

.grid-header {
  font-size: larger;
  display: grid;
  font-weight: bold;
  grid-template-columns: repeat(4, 1fr);
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 5px;
}
.club-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 20px;
  font-weight: 200;
  margin-bottom: 5px;
}

.club-item {
  background-color: #ffffff;
  border-bottom: outset;
}

.verification-status {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  width: 60px;
}

.verification-status.verified {
  background-color: rgba(0, 100, 63, 1);
}

.verification-status.not-verified {
  background-color: rgb(214, 11, 11);
}

.actions-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions-column button {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #ffffff;
  color: #006ef4;
  border: none;
  cursor: pointer;
  margin-right: auto;
}

.actions-column button:hover {
  background-color: #0056b3;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
}

.popup-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.close-button {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.close-button:hover {
  background-color: #0056b3;
}

.club-picture {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
