/* MyClub.css */

.layout {
  min-height: 100vh;
  background-color: #f0f2f5;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  margin: 16px 0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.club-card {
  text-align: center;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.club-card .ant-card-body {
  padding: 0;
}

.club-title {
  margin-top: 24px;
  font-size: 24px;
  font-weight: bold;
  color: #1890ff;
}

.club-description {
  margin-top: 16px;
  font-size: 16px;
  color: #595959;
}

.club-location-label {
  margin-top: 24px;
  font-size: 16px;
  font-weight: bold;
  color: #8c8c8c;
}

.club-location {
  display: block;
  margin-top: 4px;
  font-size: 16px;
  color: #595959;
}

.edit-buttons {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.edit-buttons > button {
  width: 120px;
  background-color: rgb(0, 81, 63);
}

.ant-input,
.ant-input-textarea {
  margin-top: 16px;
}

.ant-input[type='file'] {
  margin-top: 16px;
  text-align: left;
}
